
.headerHobby {
vertical-align: top;
color:blue;
}

.textOrange{
    color:orangered;
}

.textBlue{
    color:blue;
}

.headerForm{
    background-color:orangered;
    color:white;
    text-align: center;
}

.table1{
    border:1px solid black;    
    width:60%;
}

#table2 {
    border:1px solid black;
    width:60%;
}

#table2 td {
    padding: 0.5rem;
    border: 1px solid black;
}
#table2 th {
    padding: 0.5rem;
    border: 1px solid black;
}
.th1{
    font-weight: bold;
    font-size: large;
    background-color: rgb(209, 169, 116);
}
.th2{
    font-weight: bold;
    font-size: large;
    background-color: rgb(156, 95, 14);
}
.th3{
    background-color: lavenderblush;
}